.css-vwrpzw:hover .ak-navigation-resize-button {
  opacity: 1;
}

.css-889cso:hover {
  background-color: rgb(76, 154, 255);
  color: white;
}

.css-889cso {
  background: white none repeat scroll 0px center;
  border: 0px none;
  border-radius: 50%;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px,
    rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
  color: rgb(107, 119, 140);
  cursor: pointer;
  height: 24px;
  opacity: 0;
  outline: currentcolor none 0px;
  padding: 0px;
  position: absolute;
  top: 32px;
  transition: background-color 100ms linear 0s, color 100ms linear 0s,
    opacity 300ms cubic-bezier(0.2, 0, 0, 1) 0s,
    transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transform: translate(-50%);
  width: 24px;
}

.jdxIiL > svg {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;
  vertical-align: bottom;
}

.jdxIiL {
  color: currentcolor;
  display: inline-block;
  fill: rgb(255, 255, 255);
  flex-shrink: 0;
  line-height: 1;
}

.css-1btdkj5 {
  bottom: 0px;
  left: 100%;
  position: absolute;
  top: 0px;
  transform: translateZ(0px);
  width: 24px;
  z-index: 3;
}

.css-mvkep6 {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 16px;
  color: #0052cc;
}

.cuYMlR > svg {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;
  vertical-align: bottom;
}

.cuYMlR {
  color: currentcolor;
  display: inline-block;
  fill: rgb(255, 255, 255);
  flex-shrink: 0;
  line-height: 1;
}

.css-1wgdpuu {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 16px;
  color: #42526e;
}

.css-1h2b0g4 {
  line-height: 1.2857142857142858;
}

.css-1h2b0g4 {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.1428571428571428;
  color: #0052cc;
}

.css-1olrtn {
  line-height: 1.2857142857142858;
}

.css-1olrtn {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.1428571428571428;
  color: #42526e;
}

.css-t44v0r {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-x: hidden;
}

.css-t3yiul.css-t3yiul,
.css-1t5na7c.css-1t5na7c {
  -moz-box-align: center;
  align-items: center;
  border: medium none;
  border-radius: 3px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: inherit;
  height: 40px;
  outline: currentcolor none medium;
  text-align: left;
  text-decoration: none;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgb(244, 245, 247);
  fill: rgb(244, 245, 247);
}

.css-7xjigh {
  width: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.css-1tw9lwf {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
}

.css-1hpn4bw::after {
  border-radius: 1px;
  content: '';
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 2px;
  margin-left: 16px;
  margin-top: auto;
  position: relative;
  z-index: 2;
  background-color: #f4f5f7;
}

.css-1hpn4bw::before {
  border-radius: 1px;
  content: '';
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 2px;
  margin-left: 16px;
  position: relative;
  z-index: 2;
  background-color: #f4f5f7;
}

.css-1hpn4bw {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-y: auto;
  position: relative;
}

.css-xdwmn0::after {
  border-radius: 1px;
  content: '';
  display: block;
  flex: 0 1 0%;
  height: 2px;
  left: 16px;
  position: absolute;
  right: 16px;
  bottom: 0px;
  z-index: 1;
  background-color: rgba(9, 30, 66, 0.08);
}

.css-xdwmn0::before {
  border-radius: 1px;
  content: '';
  display: block;
  flex: 0 1 0%;
  height: 2px;
  left: 16px;
  position: absolute;
  right: 16px;
  top: 0px;
  z-index: 1;
  background-color: rgba(9, 30, 66, 0.08);
}

.css-xdwmn0 {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.css-424011 {
  position: relative;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  overflow-y: hidden;
}

.css-kq308b {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden auto;
  width: 100%;
}

.css-4rxc6l {
  box-sizing: border-box;
  height: 100%;
  left: 0px;
  min-width: 240px;
  overflow-x: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgb(244, 245, 247);
  color: rgb(66, 82, 110);
  animation-duration: 0.22s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
  transition-property: boxShadow, transform;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}

.css-1o3fej {
  height: 100%;
  position: relative;
}

.css-xbia9 {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}

.css-vwrpzw {
  bottom: 0px;
  left: 0px;
  position: fixed;
  top: 56px;
  z-index: 200;
}

html,
body,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
img,
pre,
form,
fieldset {
  margin: 0;
  padding: 0;
}

body {
  color: #172b4d;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

body {
  line-height: 1.42857 !important;
}
